/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Fonts Family */
/* font-family: 'Poppins', sans-serif; */

/* variables */

:root {
  /* color palate */
  --primary-color: #ff8861;
  --secondary-color: #f6f4ff;
  --footer-color: #f9f9f9;

  /* font size & weight */
  --title-font-size: 3.2rem;
  --small-font-size: 1.3rem;
  --h2-font-weight: 600;

  /* card-gap */
  --card--gap: 3.2rem;

  --conatiner--size: 73%;
}

.search {
    width: 32px;
    height: 32px;
}

header {
    background-color: black; 
    color: #ede9e9; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

nav {
    text-align: center;
}

.logo img {
    width: 100px;
}
 nav ul { 
    list-style: none;
    padding: 0;
    margin: 0;

 }

 nav li {
    display: inline;
    margin-right: 80px; 
    text-align: center;
    

 }

 nav a { 
    text-decoration:none;
    color:#fff;
 }

 .signup {
    background-color: orange; 
    padding: 5px 10px; 
    border-radius: 5px; 
    color: #fff; 
}

.subtitle {
    font-size: 50px; 
    margin-top: 80px; 
    text-align: center;
    font-family:'Pacifico', cursive;
}

.subtext { 
    font-size: 16px;
    text-align: center;
    margin-top: 70px;
}
 
.price2 {
    margin-left: 40px;
    margin-top: -20px;
    color: #f15926;
}








/* variable Class */
.section-title {
  font-size: var(--title-font-size);
  margin-bottom: 6.4rem;
  font-weight: 700;
  margin-top: 12rem;
}

.container {
  max-width: 1378px;
  margin: auto;
}

.section-button {
  font-size: 1.6rem;
  margin-top: 4.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 6px;
  width: 105px;
  height: 44px;
  background: #f6f4ff;
  border-radius: 12px;
  cursor: pointer;
 
}

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 3.2rem;
  overflow-x: hidden;
}

ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
}

img {
  object-fit: cover;
}

/* main */

.main {
  background: url(/Imgs/Showcase\ Cover.png) no-repeat center center/cover;
  min-height: 800px;
  border-radius: 0 0 50px 50px;
}

/* headEr */
.header {
  color: #fff;
  max-width: var(--conatiner--size);
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-content: center;
  align-items: center;
  padding-top: 4.8rem;
  margin-bottom: 160px;
}

/* NAVIGATIONS */
.navlists {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 300;
}
.navlists a {
  opacity: 0.7;
}
.navlists a:hover {
  opacity: 1;
}

/* USER/LOGIN */

.user-profile {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

.user-profile h2 {
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 2.1rem;
  align-items: flex-end;
  font-size: 1.4rem;
}
.hello {
  opacity: 0.7;
}

.profile-pic {
  width: 48px;
  height: 48px;
}
.profile-pic img {
  border-radius: 50%;
  width: 100%;
}

/* showcase CONTENT */
.showcase-content {
  text-align: center;
  color: #fff;
  font-size: 25px;
}
.showcase-content h1 {
  margin-bottom: 42px;
}
.showcase-content a {
  text-align: center;
  font-size: 1.8rem;
  margin-top: 32px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  background: var(--primary-color);
  padding: 1.8rem 2.4rem;
  border-radius: 1.2rem;
}

.showcase-content a:hover {
  background: var(--primary-color);
  opacity: 0.9;
}

.showcase-search {
  width: 60%;
  margin: auto;
  display: flex;
  align-items: center;
  background-color: white;
  justify-content: space-between;
  padding: 1.5rem 2rem;
  padding-right: 1rem;
  border-radius: 12px;
  margin-top: 184px;
}

.filters {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  flex-shrink: 10px;
  flex: 10;
  gap: 10rem;
}

.filter {
  justify-content: space-between;
  align-items: center;
  display: flex;
  line-height: 1.6;
  gap: 1.5rem;
  border-right: 1px solid rgba(194, 193, 193, 0.1);
  padding-right: 1.5rem;
}
.filter h4 {
  color: #5b5b5b;
  font-weight: 300;
}
.filter h2 {
  font-weight: 500;
}
.search-button-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  padding: 5px;
  border-radius: 20px;
  margin-right: 10px;

}
.search-button-icon:hover {
  cursor: pointer;
  opacity: 0.8;
  

}

/* destination */


.time1 { 
    font-family:'Open Sans';
    color:#ff8861;
    font-size:16px;
    margin-top: 20px;
    margin-right: 20px;
}

.people1 {
    font-family:'Open Sans';
    color:#ff8861;
    font-size:16px;
    margin-left:200px;
    margin-top: -32.5px;
}

.destination-card {
    display: flex; 
}

.image-container {
    margin-right: 20px; 
}

.cijena1, .cijena2, .cijena3 {
    flex: 1; 
}

.cijena1, .cijena2, .cijena3, .cijena4 { 
    font-size:18px;
}


.cijena15, .cijena25, .cijena35, .cijena45 { 
    font-size:24px;
    color:#f15926; 
    margin-left:50px;
    margin-top:-30px;
}

.opis1, .opis2, .opis3, .opis4 { 
    font-size:16px; 
    color:#ff8861;
    font-family: 'Open Sans';

}

.opis15, .opis25, .opis35, .opis45 { 
    font-size:16px;
    color:#ff8861;
    font-family:'Open Sans';
    margin-left:150px;
    margin-top:-30px;
}

.opismjesta1, .opismjesta2, .opismjesta3, .opismjesta4 { 
    font-size:18px; 
    font-family:'Open Sans';

}

.opismjesta15, .opismjesta25, .opismjesta35, .opismjesta45 { 
    font-size:18px;
    font-family:'Open Sans';
    margin-top:-10px;
}

.naslov {
    font-size:16px;
    margin-left:1200px;
    margin-top:50px;
    font-family: 'Open Sans';
}

.teta { 
    margin-top:10px;
    margin-left:20px;

}

.prvi {
    font-size:18px;
    font-family:'Open Sans';
    margin-left:700px;
    margin-top:-400px;
}

.about {
    text-align: right; 
    position: relative; 
    top: -300px; 
    font-size:16px;
    margin-left:20px;
}

.naslov1 {
    margin-left:1200px;
    margin-top:100px;
    color:white;
    
}


.spacer {
    margin: 0 40px; 
}



.brojevi {
    color:#f15926;
    font-family:'Open Sans';
    font-size:32px;
    margin-left:750px;
    margin-top:-250px;
    
}

.iskustvo, .kupci, .usluge, .guides { 
    font-size:16px;
    color:darkgrey;
    font-family:'Open Sans';
}

.iskustvo { 
    margin-left:750px;
}

.kupci {
    margin-left:850px;
    margin-top:-65px;
}

.usluge {
    margin-left:1000px;
    margin-top:-65px;
}

.guides {
    margin-left:1140px;
    margin-top:-65px;
}

.custom-box {
    width: 569px; 
    height: 330px; 
    border: 2px solid #000; 
    padding: 10px; 
    background-color: #f0f0f0; 
}


.pink-background {
    
        background-color: rgb(244, 187, 140); 
        
        background-size: cover; 
        background-position: center; 
        width: 100%; 
        height: 450px; /
        margin-top:300px;
    }
    


.text-frame {
  width:569px;
  height:330px;
  left:250px;
  border-radius:24px;
  padding:30px;
  gap:32px;
  margin-top:-380px;
  margin-left:80px;
  background-color: #f5ebeb;
    
}

.tekst { 
    font-size:18px;
    margin-top:20px;
    font-size:'Open Sans';

}


.vecitekst {
    margin-left:100px;
    font-size:32px;
}


.dugme2 {
    width: 212px; 
    height: 47px; 
    background-color: orange; 
    border-radius: 10px; 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    gap:10px;
    margin-left:240px;
    margin-top:-70px;
}

.dugme2 p {
    margin: 0; 
    color: white; 
    font-size:20px;
    font-family: 'Open Sans';
    
} 

.teta3 {
    width:327px;
    height:500px;
    margin-left:800px;
    margin-top:-525px;
}




